@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald',
        sans-serif;
    margin: 0%;
    padding: 0%;
    font-family: ;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    z-index: -1;
}


/* Slideshow container */

.slideshow-container {
    height: 100%;
    max-width: 100%;
    background-size: cover;
    position: relative;
}

.active {
    background-color: #717171;
}

.bg1 {
    height: 700px;
    width: 100%;
    top: 0%;
    z-index: -7665;
    margin: 0%;
    padding: 0%;
}

#bg1 {
    background: url("/assest/slider-1.png");
    background-size: cover;
}

#bg2 {
    background: url("/assest/slider-2.png");
    background-size: cover;
}

#bg3 {
    background: url("/assest/slider-3.png");
    background-size: cover;
}

#bg4 {
    background: url("/assest/slider-4.png");
    background-size: cover;
}

#img-title {
    position: absolute;
    top: 70%;
    left: 10%;
    color: #AF2632;
}

#img-subtitle {
    position: absolute;
    top: 78%;
    left: 10%;
    width: 40rem;
    font-size: 1rem;
}

/* Fading animation */

.fade {
    -webkit-animation-name: linear;
    -webkit-animation-duration: 1s;
    animation-name: linear;
    animation-duration: 1s;
}

@-webkit-keyframes linear {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes linear {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* .dot {
    height: 10px;
    width: 10px;
    margin: 0 0px;
    transition: background-color 0.6s ease;
    color: black;
    position: absolute;
    top: 40rem;
} */

/* Header */

.logo {
    height: 9rem;
    width: 9rem;
    /* margin: 0.5rem; */
    position: absolute;
    top: 3%;
    right: 45%;
    left: 45%;
    z-index: 65465;
}

/* Navbar */
.menu {
    display: flex;
    position: absolute;
    top: 7rem;
    /* right: 23%; */
    left: 30%;
    /* margin: 0rem 20rem 0rem 35rem; */
    z-index: 346;
}

.menu>div {
    margin: 2rem 6rem 0rem 0rem;
    text-decoration: none;
    text-align: center;
}

.menu>div>a {
    text-align: center;
    text-decoration: none;
    font-size: bold;
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(14, 104, 0);
}

/* About Section Start */
.about-sec {
    text-align: center;
    position: relative;
    padding: 7rem;
}

.about-title {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


.about-sec>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    margin: 0%;
    padding: 0%;
    text-align: center;
    left: 0%;
    z-index: -89;
}

.about-cards {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.about-title {
    font-size: 40px;
    color: #AF2632;
}

.about-iframe {
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: 747;
    text-align: center;
}

/* About section end */

/* Service Section starts */
.service-title {
    font-size: 40px;
    text-align: center;
    color: #AF2632;
}

.cards-iframe {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.sevices-cards {
    margin-top: 2rem;
}

/* Service Section end */

/* Contact Section Starts*/
.contact-section {
    display: flex;
    /* padding-bottom: 2rem; */
}

.contact-map {
    width: 50%;
}

.contact-address {
    padding: 5rem;
}

.contact-address table tr td {
    padding: 1rem 2rem 0rem 0rem;
}

/* Contact Section Ends*/

/* Footer starts */
.foot {
    width: 48rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

/* Footer Ends */

/* Media Query */
@media only screen and (max-width: 600px) {

    .logo {
        height: 6rem;
        width: 6rem;
        /* margin: 0.5rem; */
        position: absolute;
        top: 3%;
        /* right: 45%;
        left: 45%; */
        z-index: 65465;
    }

    /* Footer starts */
    .foot {
        width: 22rem;
        height: 7rem;
    }

    /* Footer Ends */

}